<% if Project.exists?(project) && !project.shared_versions.open.empty? %>
  <p><%= form.select :default_version_id, version_options_for_select(project.shared_versions.open, project.default_version), :include_blank => true %></p>
<% end %>
